# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Firebase service account key
service-account-key.json

# Misc
sample-code-snippets.js
