# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Web
db.ejs
index.ejs
header.ejs
nav.ejs
lang-logo.png
newpage.js
test.js

# Docker
Dockerfile
docker-compose.yml

# Firebase
service-account-key.json

# Misc
sample-code-snippets.js
package-lock.json

firebase/hash.json

